.header{
    display:flex;
    justify-content:space-between;
    border:1px solid black;
}
.logo{
    width:100px;
}
.nav-items {
    padding: 0 30px;
}

.nav-items > ul {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 40px;  
}

.nav-items>ul>li{
    padding:10px;
    margin:10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    width:300px;
    padding:5px;
    margin: 5px;
    background-color: #f0f0f0;

}
.res-card:hover{
    cursor: pointer;
    border:1px solid black;
}
.search{
    padding:10px;
}
.res-logo{
    width:100%;

}
.filter-btn{
    padding:10px;
    margin:20px;
    background-color:#ff7300;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap:wrap;
}
.shimmer-card{
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    animation: loading 1.5s infinite;
    height:500px;
    margin:20px;
    width:300px;
    border-radius:5px;
}
.login{
    padding:10px 20px;
    background-color:#ff7300;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.filter{
    display: flex;
}
.search-btn{
    padding:20px;
    margin:10px;
    background-color:#ff7300;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.search-box{
    padding:20px;
    width:200px;
    border:1px solid black;
    border-radius:5px;
}
.user-card{
    padding: 10px;
    border:1px solid black;
}